.login-container{
    background-color: #002920;
    overflow: hidden;

}

.login-header{
    margin-right: 50px;
}

.login-wrapper{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    margin-bottom: 50px;
}

.login-form-wrapper{
    display: flex;
    flex: 6;
    flex-direction: column;
    align-items: center;
    background-color: #004233;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.11);
    margin-left: 50px;
}

.separator{
    width: 80%;
}



.form-item{
    width: 300px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    background-color: #002F25;
    padding-left: 10px;
    border: 1px solid aquamarine !important;
    color: aquamarine !important;
}
.form-item::placeholder{
    font-size: 1.2rem;
    text-align: left;
}
.slogancaption{
    font-size: 1.2rem;
}

.slogan{
    font-weight: 700;
    font-size: 3.5rem;
    color: aquamarine !important;
    position: absolute;
    z-index: 50;
}

.circle{
    background-color: #003E3D;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 1px solid aquamarine;
    position: relative;
    left: 0px;
    top: -30px;
}

.forgot{
    color: blue;
    margin-top: 10px;
}
.loginbutton{
    width: 100%;
    margin-top: 20px;
    background-color: #009675 !important;    
    border: 1px solid aquamarine !important;
    color: aquamarine !important;

}

.loginbutton:hover{
    scale: 105%;
    transition: 250ms;
}
.registerbuttonss:hover{
    scale: 105%;
    transition: 250ms;
}

.registerbuttonss{
    width: 100%;
    margin-top: 20px;
    border: 1px solid rgb(49, 114, 92) !important;
    background-color: #002F25 !important;
    color: aquamarine !important;
}


.lockwrapper {
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: 100px;
    height: 50px;
    margin-bottom: 50px;
    margin-left: 95px;
  }

  .lock-top{
    fill: none;
    stroke: #006049;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 300;
    stroke-dashoffset: -30;
    transition: all 300ms ease-out;
  }
  .lock-top.loaded {
    stroke-dashoffset: 0;
    stroke: #0fff3f
  }
  .lock-top.loaded ~ .lock-body {
    fill: #0fff3f;
  }
  .lock-top.loading {
    stroke: #000;
    opacity: 0.3;
  }
  
  .lock-outline{
    fill: #1bae9b;
  }
  .lock-body {
    fill: #006049;
    opacity: 1;
    transition: all 300ms ease-out;
  }
  .lock-body.loading{
    fill: #000 !important;
    opacity: 0.3;
  }
  
  .lock-spinner {
    fill: none;
    stroke: #000;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    opacity: 0;
    transition: opacity 200ms ease;
  }
  .lock-spinner.loading{
    opacity: 1;
  }






@media screen and (max-width: 768px){

    .login-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login-header{
        margin-right: 0;
        margin-bottom: 40px;
    }

    .login-form-wrapper{
        margin-right: 0px;
        margin-bottom: 20px;
        margin-left: 0;
    }
}

@media screen and (max-width: 430px){
    

    .login-wrapper{
        display: flex;
        flex-direction: column;
    }

    .login-header{
        margin-right: 0;
        margin-bottom: 40px;
    }

    .login-form-wrapper{
        margin-right: 0px;
        margin-bottom: 20px;
        padding: 40px;
    }

    .form-item{
        width: 200px !important;
        height: 50px;
        border-radius: 5px;
        margin-bottom: 10px;
        border: 1px solid rgb(186, 186, 186);
        font-size: 1.2rem;
        padding-left: 10px;
    }
}