.home-container{
  background-color: #002920;
}

.content{
    display: flex;
    min-height: calc(100vh);
    padding-right: 10px;
}

.rightbar{
    display: none;
    min-width: 200px;
    max-width: 350px;
}

  .leftbar-container{
    display: none;
  }

  @media screen and (min-width: 720px){

    .leftbar-container{
        display: block ;
        min-width: 250px;
        margin-top: 66px;
        padding: 10px;
    }

  }

  @media screen and (min-width: 950px){

    .rightbar{
        display: flex;
    }

  }