.profile-bottom{
    display: flex;
    margin-right: 10px;
}


.content{
    display: flex;
}

.leftbar{
    display: none;
}

.profileright{
    padding-left: 20px;
    width: 100%;
}

.profile-container{
    background-color: #003025;
    padding-bottom: 20px;
}


@media screen and (min-width: 720px){

    .leftbar{
        display: block;
        min-width: 250px;
        height: 100%;
    }

  }